*{
    box-sizing: border-box;
}

:root{
    --dark-color: #191919;
    --white-color:#ffffff;
    --purple-color: rgb(117, 41, 149);
    --purplelight-color: rgb(169, 83, 206);
    --aqua-color: aqua;
    --gray-color: gray;
    --ligh-color: #F3F3F3;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
}

p{
    color: var(--dark-color);
    text-align: justify;
}



header{
    display: flex;
}

.logo img{
    width:300px;
    margin:20px;
}

.logo{
    width: 90%;
}

.sesion{
    margin: 1rem 0;
    width: 12%;
    text-align: right;
    color:rgb(102, 51, 153);
    display: flex;
    align-items: center;
}

.golden{
    width: 100px;
    margin-left: -50px;
    border: 6px solid rgb(102, 51, 153);
    border-radius: 50%;
    
}


.menu ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

.menu img{
 background-color: blueviolet;
 
    
}
.contenido{
    flex-basis: 80%;
    background-color: white;
    padding: 30px;
}

.menu a{
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: block;
    text-align: left;
}


.menu a:hover{
    background-color: rgb(102, 51, 153);
    border-left: 3px solid white;
    padding-left: 50px;
    transition: all 1s;
    color: black;
    width: 300px;
    
}
.btn-salir{
    width: 20px;
    color: darkslateblue;
}

#dashboard{
    display: flex;
}

.menu{
    flex-basis: 30%;
    background-color: rgb(19, 18, 18);
    height: 100vh;
    color: white;
}


header span a{
    color: rgb(102, 51, 153);
}
.fa-margin{
    margin: 0 0.3rem;
}



.sesion a{
    color: rgb(102, 51, 153);
    text-decoration: none;
}
.producto img{
    width: 150px;
    border-radius: 50%;
}
.tabla-intro{
    display: flex;
    justify-content: space-around;
}

.btn-azul, .btn-morado{
    padding: 0.5rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

.btn-azul{
    background-color: rgb(7, 143, 131);
    color: black;
    font-weight: bold;
}

.btn-morado{
    background-color: rgb(103, 17, 114);
    color: black;
    font-weight: bold;
}

.contenido form,table{
    margin-left: 50px;
}
 form input{
     width: 700px;
     height: 40px;
 }

.tabla img{
resize: 50px;
width: 30px;
}

.form-label{
color: var(--purple-color);

}

.botonagregar button{
  width: 700px;
  height: 40px;
  background-color: rgb(103, 17, 114);
  color: black;
  font-weight: bold;
  padding: 0.5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

 select{
    width: 700px;   
    height: 40px;
   
}